.homepage {
    text-align: center;
}
.hero {
    /*background: url('/public/hero-image.jpg') no-repeat center center/cover;*/
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: pink;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.hero-content {
    text-align: center;
}
.cta-button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #e03572;
}